body{
   background-image: url("images/bamboo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}
H1{
    text-align: center;
    font-size: 3em;
    color: rgb(9, 255, 0);
    margin-top: 15%;
}
/*--------naviguation accueil------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*------------------formulaire------------------*/
#container{
    width:400px;
    margin:0 auto;
    margin-top:0;
    }
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;        background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: x-large;
    }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
    }

/*--------formulaire commentaire---------*/

.commentaire{
    width: 70%;
    height: auto;
}
.validation{
    color: #00ff0d;
}
.erreur{
    color: #00ff0d;
}

/*--------------livre d'or------------*/
.livre_or{
    background-color: rgba(240, 248, 255, 0.773);
    background-size: contain;
    width: 50%;
    height: auto;
    margin: auto;
    line-height: 30px;
}
.tableau{
    margin: auto;
    width: 50%;
    height: auto;
}

.tableau> th, tr{
    background-color: rgb(0, 255, 34);
}
/*--------------nav-----------*/

button{
    border-radius: 15%;
}
a:link, a:visited {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: rgb(47, 221, 47);
    color: white;
    border-radius: 15%;
}




/**,*::before,*::after{box-sizing: border-box;}*/

.effet-3d {
margin: 2rem auto;
display: flex;
justify-content: center;
font-family: 'Exo';
color: #34c72f;
font-size: calc(50vw / 5);
letter-spacing: .015em;
text-shadow: 0 0 0 #ffffff93,
.0025em .0025em 0 #ffffff93,
.005em .005em 0 #ffffff93,
.0075em .0075em 0 #ffffff93,
.01em .01em 0 #ffffff93,
.0125em .0125em 0 #ffffff93,
.015em .015em 0 #ffffff93,
.0175em .0175em 0 #ffffff93,
.02em .02em 0 #ffffff93,
.0225em .0225em 0 #ffffff93,
.025em .025em 0 #ffffff93,
.0275em .0275em 0 #ffffff93,
.03em .03em 0 #ffffff93,
.0325em .0325em 0 #ffffff93,
.035em .035em 0 #ffffff93,
.0375em .0375em 0 #ffffff93,
.04em .04em 0 #ffffff93,
.0425em .0425em 0 #ffffff93, 
.045em .045em 0 #ffffff93,
.0475em .0475em 0 #ffffff93,
.05em .05em 0 #ffffff93,
.0525em .0525em 0 #ffffff93,
.055em .055em 0 #ffffff93,
.0575em .0575em 0 #ffffff93,
.06em .06em 0 #ffffff93,
.0625em .0625em 0 #ffffff93,
.065em .065em 0 #ffffff93,
.0675em .0675em 0 #ffffff93, 
.07em .07em 0 #ffffff93,
.0725em .0725em 0 #ffffff93,
.075em .075em 0 #ffffff93,
.0775em .0775em 0 #ffffff93,
.08em .08em 0 #ffffff93,
.0825em .0825em 0 #ffffff93,
.085em .085em 0 #ffffff93,
.0875em .0875em 0 #ffffff93,
.09em .09em 0 #ffffff93,
.0925em .0925em 0 #ffffff93,
.095em .095em 0 #ffffff93,
.0975em .0975em 0 #ffffff93,
.1em .1em 0 #ffffff93
	
	}
